@{
    Layout = "";
}
@model Nop.Plugin.Widgets.Invite.Models.ConfigurationModel

@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture1")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CodeType):
                </td>
                <td class="adminData">
                    <select name="CodeType" id="CodeType" class="CodeType">
                        <option value="0" @((int)Model.CodeType == 0 ? "selected='selected'" : "")>Salty</option>
                        <option value="1" @((int)Model.CodeType == 1 ? "selected='selected'" : "")>Guid</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.MaxCodeLimit):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MaxCodeLimit)
                    @Html.ValidationMessageFor(model => model.MaxCodeLimit)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />

    <table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}